<section class="mpl-banner mpl-banner-top mpl-banner-parallax">
  <div class="mpl-banner-content mpl-box-sm" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="mpl-content">
            <h1 data-sr-item="sign" style="visibility: visible;">Edit Profile</h1>
            <%= form_with model: @player, url: profile_path do |form| %>
              <div class="mpl-snippet-fill">
              <h2>In-game characters</h2>
                <div class="row hgap-sm vgap-sm">
                  <div class="col-12">
                    <%= form.label :igname, 'Main in-game name' %>
                    <%= form.text_field :igname, class: 'form-control' %><span class="form-control-bg"></span>
                  </div>
                  <div class="col-12">
                    <% @player.characters.each do |character| %>
                      <p>
                        <%= character.igname_with_profession %>
                        <%= link_to 'Delete', profile_character_path(character), method: :delete, class: 'float-right btn btn-sm btn-danger' %>
                      </p>
                    <% end %>
                  </div>
                </div>
                <%= link_to 'Add new character', new_profile_character_path, class: 'btn btn-sm btn-success' %>
              </div>
              <div class="mpl-snippet-fill">
                <h2>Guild</h2>
                <div class="row hgap-sm vgap-sm">
                    <div class="col-12">
                      <%= form.select :guild_id, options_from_collection_for_select(@guilds, :id, :name_with_tag, @player.guild_id), { include_blank: true }, class: 'form-control custom-select' %><span class="form-control-bg"></span>
                    </div>
                </div>
              </div>
              <div class="mpl-snippet-fill">
                <h2>Professions</h2>
                <div class="row hgap-sm vgap-sm">
                    <div class="col-12">
                    <div class="custom-control custom-checkbox">
                      <%= form.check_box :is_warrior, class: 'custom-control-input' %>
                      <%= form.label :is_warrior, 'Warrior', class: 'custom-control-label' %>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="custom-control custom-checkbox">
                      <%= form.check_box :is_ranger, class: 'custom-control-input' %>
                      <%= form.label :is_ranger, 'Ranger', class: 'custom-control-label' %>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="custom-control custom-checkbox">
                      <%= form.check_box :is_monk, class: 'custom-control-input' %>
                      <%= form.label :is_monk, 'Monk', class: 'custom-control-label' %>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="custom-control custom-checkbox">
                      <%= form.check_box :is_necromancer, class: 'custom-control-input' %>
                      <%= form.label :is_necromancer, 'Necromancer', class: 'custom-control-label' %>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="custom-control custom-checkbox">
                      <%= form.check_box :is_mesmer, class: 'custom-control-input' %>
                      <%= form.label :is_mesmer, 'Mesmer', class: 'custom-control-label' %>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="custom-control custom-checkbox">
                      <%= form.check_box :is_elementalist, class: 'custom-control-input' %>
                      <%= form.label :is_elementalist, 'Elementalist', class: 'custom-control-label' %>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="custom-control custom-checkbox">
                      <%= form.check_box :is_assassin, class: 'custom-control-input' %>
                      <%= form.label :is_assassin, 'Assassin', class: 'custom-control-label' %>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="custom-control custom-checkbox">
                      <%= form.check_box :is_ritualist, class: 'custom-control-input' %>
                      <%= form.label :is_ritualist, 'Ritualist', class: 'custom-control-label' %>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="custom-control custom-checkbox">
                      <%= form.check_box :is_paragon, class: 'custom-control-input' %>
                      <%= form.label :is_paragon, 'Paragon', class: 'custom-control-label' %>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="custom-control custom-checkbox">
                      <%= form.check_box :is_dervish, class: 'custom-control-input' %>
                      <%= form.label :is_dervish, 'Dervish', class: 'custom-control-label' %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mpl-snippet-fill">
                <h2>Streaming</h2>
                <div class="row hgap-sm vgap-sm">
                  <div class="col-12">
                    <%= form.label :twitch_username, 'Twitch username' %>
                    <%= form.text_field :twitch_username, class: 'form-control' %><span class="form-control-bg"></span>
                  </div>
                </div>
              </div>
              <div class="mpl-snippet-fill">
                <div class="row hgap-sm vgap-sm">
                  <div class="col-12">
                    <%= form.submit 'Publish', class: 'btn btn-md btn-success' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
