<div class="content-wrap">
    <div class="mpl-navbar-mobile-overlay"></div>
    <div>
        <section class="mpl-banner mpl-banner-top mpl-banner-parallax mpl-banner-small">
            <div class="mpl-image" data-speed="0.8">
                <%= image_tag 'background.jpg', class: 'jarallax-img' %>
            </div>
            <div class="mpl-banner-content mpl-box-lg">
                <div class="container">
                    <h1 class="display-1 mb-0">Scrims</h1>
                </div>
            </div>
        </section>
        <div class="mpl-box-md">
            <div class="container">
                <div class="row hgap-lg vgap-lg">
                    <div class="col-lg mpl-content single-team">
                        <article class="mpl-post">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Scrims</li>
                                </ol>
                            </nav>
                            <div class="cyberpress-team">
                                <div class="cyberpress-team-thumbnail">
                                    <span class="mpl-image">
                                    </span>
                                </div>
                                <ul class="cyberpress-team-info">
                                    <li>
                                        <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16 2V6M8 2V6M3 10H21M5 4H19C20.1046 4 21 4.89543 21 6V20C21 21.1046 20.1046 22 19 22H5C3.89543 22 3 21.1046 3 20V6C3 4.89543 3.89543 4 5 4Z" />
                                        </svg>
                                        <%= Date.today %>
                                    </li>
                                    <li>
                                        <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21M23 21V19C22.9993 18.1137 22.7044 17.2528 22.1614 16.5523C21.6184 15.8519 20.8581 15.3516 20 15.13M16 3.13C16.8604 3.3503 17.623 3.8507 18.1676 4.55231C18.7122 5.25392 19.0078 6.11683 19.0078 7.005C19.0078 7.89317 18.7122 8.75608 18.1676 9.45769C17.623 10.1593 16.8604 10.6597 16 10.88M13 7C13 9.20914 11.2091 11 9 11C6.79086 11 5 9.20914 5 7C5 4.79086 6.79086 3 9 3C11.2091 3 13 4.79086 13 7Z" />
                                        </svg>
                                        <%= pluralize @current_registrations.count, 'current registrations' %>
                                    </li>
                                    <li>
                                        <% if current_player %>
                                          <% if current_player.has_current_registration? %>
                                            <%= form_with model: current_player.current_registration, method: :delete do |form| %>
                                              <%= form.submit 'Unregister myself', class: 'btn btn-md btn-danger' %>
                                            <% end %>
                                          <% else %>
                                            <%= form_with model: Registration do |form| %>
                                              <%= form.submit 'Register myself', class: 'btn btn-md btn-success' %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to 'Log in with Discord to register myself', omniauth_authorize_path(:player, :discord), class: 'btn btn-md btn-brand' %>
                                        <% end %>
                                    </li>
                                </ul>
                            </div>
                            <% if @current_scrims.any? %>
                              <h2>Current scrims</h2>
                              <ul class="cyberpress-matchs-archive">
                                  <% @current_scrims.each do |current_scrim| %>
                                    <li class="cyberpress-match">
                                        <div class="cyberpress-match-participants">
                                            <div class="cyberpress-match-participant">
                                                <div class="cyberpress-match-participant-thumbnail">
                                                    <a href="#">
                                                        <span class="mpl-image">
                                                        </span>
                                                    </a>
                                                </div>
                                                <h2 class="cyberpress-match-participant-title h4">
                                                    <%= link_to current_scrim.captain_a.name, player_path(current_scrim.captain_a) %>
                                                </h2>
                                            </div>
                                            <div class="cyberpress-match-participant-vs">
                                                <a href="#">
                                                    <span class="cyberpress-match-participant-time-start"><%= l current_scrim.created_at %></span>
                                                    <span class="cyberpress-match-points h3">VS</span>
                                                </a>
                                            </div>
                                            <div class="cyberpress-match-participant">
                                                <div class="cyberpress-match-participant-thumbnail">
                                                    <a href="#">
                                                        <span class="mpl-image">
                                                            <img src="assets/images/esports/military-skull_300x300.png" alt="">
                                                        </span>
                                                    </a>
                                                </div>
                                                <h2 class="cyberpress-match-participant-title h4">
                                                    <%= link_to current_scrim.captain_b.name, player_path(current_scrim.captain_b) %>
                                                </h2>
                                            </div>
                                        </div>
                                    </li>
                                  <% end %>
                              </ul>
                            <% end %>
                            <% if @current_registrations.any? %>
                              <h2>Current registrations</h2>
                              <table class="table mpl-table-responsive-sm cyberpress-table cyberpress-team-players">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>In-game name</th>
                                        <th>Professions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @current_registrations.each do |current_registration| %>
                                      <tr>
                                        <th>
                                          <%= link_to current_registration.player.username, player_path(current_registration.player) %>
                                        </th>
                                        <td>
                                          <%= current_registration.player.igname %>
                                        </td>
                                        <td>
                                          <% current_registration.player.professions.each do |profession| %>
                                            <span class="badge badge-primary"><%= profession.capitalize %></span>
                                          <% end %>
                                          <% if current_registration.player.professions.empty? %>
                                            <span class="badge badge-warning">Without profession</span>
                                          <% end %>
                                        </td>
                                      </tr>
                                    <% end %>
                                </tbody>
                              </table>
                            <% else %>
                              <h2>No current registrations</h2>
                            <% end %>
                            <% if current_player %>
                              <% if current_player.has_current_registration? %>
                                <%= form_with model: current_player.current_registration, method: :delete do |form| %>
                                  <%= form.submit 'Unregister myself', class: 'btn btn-md btn-danger' %>
                                <% end %>
                              <% else %>
                                <%= form_with model: Registration do |form| %>
                                  <%= form.submit 'Register myself', class: 'btn btn-md btn-success' %>
                                <% end %>
                              <% end %>
                            <% else %>
                              <%= link_to 'Log in with Discord to register myself', omniauth_authorize_path(:player, :discord), class: 'btn btn-md btn-brand' %>
                            <% end %>
                        </article>
                    </div>
                    <div class="col-auto-lg mpl-sidebar" data-sr=widget data-sr-duration=1200 data-sr-distance=20>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'footer' %>
    </div>
</div>
