<div class="content-wrap">
    <div class="mpl-navbar-mobile-overlay"></div>
    <div>
        <section class="mpl-banner mpl-banner-top mpl-banner-parallax mpl-banner-small">
            <div class="mpl-image" data-speed="0.8">
                <%= image_tag 'background.jpg', class: 'jarallax-img' %>
            </div>
            <div class="mpl-banner-content mpl-box-lg">
                <div class="container">
                    <h1 class="display-1 mb-0">Players administration</h1>
                </div>
            </div>
        </section>
        <div class="mpl-box-md">
            <div class="container">
                <h2>Players</h2>
                <p> <%= @players.count %> players </p>
                <table class="table table-striped mb-60">
                  <thead>
                      <tr>
                          <th scope="col">Username</th>
                          <th scope="col">In-game name</th>
                          <th scope="col">Professions</th>
                          <th scope="col">Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% @players.each do |player| %>
                        <tr>
                          <th scope="row">
                            <%= player.username %>
                          </th>
                          <td>
                            <%= player.igname %>
                          </td>
                          <td>
                            <% player.professions.each do |profession| %>
                              <span class="badge badge-primary"><%= profession.capitalize %></span>
                            <% end %>
                            <% if player.professions.empty? %>
                              <span class="badge badge-warning">Without profession</span>
                            <% end %>
                          </td>
                          <td>
                            <% if player.is_verified? %>
                              <%= link_to 'Remove verified badge', administration_player_unchecks_path(player), method: :post, class: 'btn btn-sm' %>
                            <% else %>
                              <%= link_to 'Add verified badge', administration_player_checks_path(player), method: :post, class: 'btn btn-sm btn-success' %>
                            <% end %>
                            <%= link_to 'Send invitation', administration_player_invitations_path(player), method: :post, class: 'btn btn-sm btn-primary' %>
                          </td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
            </div>
        </div>
        <%= render 'footer' %>
    </div>
</div>
