<div class="content-wrap">
    <div class="mpl-navbar-mobile-overlay"></div>
    <div>
        <section class="mpl-banner mpl-banner-top mpl-banner-parallax mpl-banner-small">
            <div class="mpl-image" data-speed="0.8">
                <%= image_tag 'background.jpg', class: 'jarallax-img' %>
            </div>
            <div class="mpl-banner-content mpl-box-lg">
                <div class="container">
                    <h1 class="display-1 mb-0">Tournaments</h1>
                </div>
            </div>
        </section>
        <div class="mpl-box-md">
            <div class="container">
                <div class="row hgap-lg vgap-lg">
                    <div class="col-lg mpl-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><%= link_to 'Tournaments', tournaments_path %></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= @tournament.title %></li>
                            </ol>
                        </nav>
                        <ul class="cyberpress-matchs-archive" data-sr="matches" data-sr-duration="1000">
                            <% @tournament.matches.order(round: :desc).order(number_on_round: :desc).each do |match| %>
                                <li class="cyberpress-match" data-sr-item="matches">
                                    <div class="cyberpress-match-participants">
                                        <div class="cyberpress-match-participant">
                                            <h2 class="cyberpress-match-participant-title h4">
                                                <%= link_to match.teams.first.guild.name_with_tag, match_path(match) %>
                                            </h2>
                                            <ul class="cyberpress-match-info">
                                                <li><%= link_to 'Guild details', guild_path(match.teams.first.guild) %></li>
                                            </ul>
                                        </div>
                                        <div class="cyberpress-match-participant-vs">
                                            <%= link_to match_path(match) do %>
                                                <span><%= match.round_text %></span>
                                                <span class="cyberpress-match-participant-time-start"><%= @tournament.date %></span>
                                                <span class="cyberpress-match-points h3">VS</span>
                                            <% end %>
                                        </div>
                                        <div class="cyberpress-match-participant">
                                            <h2 class="cyberpress-match-participant-title h4">
                                                <%= link_to match.teams.second.guild.name_with_tag, match_path(match) %>
                                            </h2>
                                            <ul class="cyberpress-match-info">
                                                <li><%= link_to 'Guild details', guild_path(match.teams.second.guild) %></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="col-auto-lg mpl-sidebar" data-sr=widget data-sr-duration=1200 data-sr-distance=20>
                        <%= link_to 'Search matches on Guild Wars Memorial', "https://memorial.redeemer.biz/memorial/#{@tournament.year}/#{@tournament.month}", target: '_blank', class: 'btn btn-md' %>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'footer' %>
    </div>
</div>
