<div class="content-wrap">
    <div class="mpl-navbar-mobile-overlay"></div>
    <div>
        <section class="mpl-banner mpl-banner-top mpl-banner-parallax">
            <div class="mpl-image" data-speed="0.8">
                <%= image_tag 'background.jpg', class: 'jarallax-img' %>
            </div>
            <div class="mpl-banner-content mpl-box-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10" data-sr="banner" data-sr-interval="200" data-sr-duration="1200" data-sr-distance="20">
                            <h1 class="display-1" data-sr-item="banner">GWRank</h1>
                            <% if current_player %>
                              <p class="lead" data-sr-item="banner">
                                Welcome <%= current_player.name %>
                              </p>
                              <%= link_to 'Show profile', player_path(current_player), class: 'btn btn-md btn-brand' %>
                              <%= link_to 'Edit profile', edit_profile_path, class: 'btn btn-md btn-brand' %>
                              <%= link_to 'Sign out', destroy_player_session_path, method: :delete, class: 'btn btn-md btn-brand"' %>
                            <% else %>
                              <%= link_to 'Log in with Discord', omniauth_authorize_path(:player, :discord), class: 'btn btn-md btn-brand' %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container mpl-box-md">
            <div class="row vgap">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="mpl-feature">
                        <div class="mpl-feature-title h4">What?</div>
                        <div class="mpl-feature-text">
                            <ul>
                                <li>Matchmaking system</li>
                                <li>MMR ranking</li>
                                <li>Keep track of your personal record</li>
                                <li>Browse the records of others</li>
                                <li>Nominate player of the game</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="mpl-feature">
                        <div class="mpl-feature-title h4">Why?</div>
                        <div class="mpl-feature-text">
                            <ul>
                                <li>Play better games</li>
                                <li>Less time spent assigning roles</li>
                                <li>Player development</li>
                                <li>Play in a like-minded community</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="mpl-feature">
                        <div class="mpl-feature-title h4">How?</div>
                        <div class="mpl-feature-text">
                            <ul>
                                <li>Register account</li>
                                <li>Get verified</li>
                                <li>Submit preferred roles/availability</li>
                                <li>Register for matches</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mpl-box-md">
            <div class="container">
                <div class="row hgap-lg vgap-lg">
                    <div class="col-lg mpl-content">
                        <div class="row vgap">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="mpl-feature">
                                    <div class="mpl-feature-title h4">
                                        <%= pluralize Player.all.count, 'player' %>
                                    </div>
                                    <div class="mpl-feature-text">
                                        <%= link_to 'See all players', players_path, class: 'btn btn-md' %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="mpl-feature">
                                    <div class="mpl-feature-title h4">
                                        <%= pluralize Guild.all.count, 'guild' %>
                                    </div>
                                    <div class="mpl-feature-text">
                                        <%= link_to 'See all guilds', guilds_path, class: 'btn btn-md' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto-lg mpl-sidebar" data-sr="widget" data-sr-duration="1200" data-sr-distance="20">
                        <iframe src="https://discord.com/widget?id=788820055029973045&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                        <a href="https://discord.gg/jqShPZBkcj" target="_blank" class="btn btn-md">
                            Join us on Discord
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'footer' %>
    </div>
</div>
