<section class="py-13 py-lg-15 vh-75" id="content">
  <div class="bg-primary bg-image bg-cover overlay overlay-primary overlay-70" data-jarallax data-speed=".8" style="background-image: url(/assets/images/photos/photo-59.jpg);">
    <div class="container h-100">
      <div class="row align-items-center h-100 text-white" data-aos="fade-down">
        <div class="col">
          <h1 class="display-2 mb-5">GWRank.com</h1>
          <% if current_player %>
            Welcome <%= current_player.name %>
            <div class="float-right">
              <%= link_to 'Edit profile', edit_profile_path, class: 'mr-4' %>
              <%= link_to 'Sign out', destroy_player_session_path, method: :delete, class: 'btn btn-secondary text-uppercase d-inline-flex align-items-center' %>
            </div>
          <% else %>
            <%= link_to 'Reserve your spot with Discord', omniauth_authorize_path(:player, :discord), class: 'btn btn-secondary text-uppercase d-inline-flex align-items-center' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<% if current_player %>
  <% if false # DateTime.now < today_scrim_registration_time %>

    <div class="col-12 d-flex flex-column align-self-end text-center pt-4">
      <h2 class="h3">Next scrim registration in</h2>
      <div class="row justify-content-center" data-countdown data-end-date="<%= today_scrim_registration_time %>" data-end-message="<p>Let's Start! Refresh the page!"> <!--Other format for data-end-date="2020-12-31T23:59:59.000Z" -->
        <div class="col-auto">
          <div class="row justify-content-center display-4 mb-5 text-center">
            <div class="col-auto px-3"><span class="days">0</span><span class="font-size-5 font-weight-lighter d-block mt-n1">days</span></div>
            <div class="col-auto px-3"><span class="hours">0</span><span class="font-size-5 font-weight-lighter d-block mt-n1">hours</span></div>
            <div class="col-auto px-3"><span class="minutes">0</span><span class="font-size-5 font-weight-lighter d-block mt-n1">minutes</span></div>
            <div class="col-auto px-3"><span class="seconds">0</span><span class="font-size-5 font-weight-lighter d-block mt-n1">seconds</span></div>
          </div>
        </div>
      </div>
    </div>

  <% elsif true # DateTime.now.between?(today_scrim_registration_time, today_scrim_end_registration_time) %>

    <div class="col-12 text-center py-4">
      <h2 class="h1">Scrim registration is open!</h2>
      <% if current_player.registered? %>
        <%= link_to 'Unregister me', registration_path(current_player.current_registration), method: :delete, class: 'btn btn-secondary text-uppercase' %>
      <% else %>
        <%= link_to 'Register me', registrations_path, method: :post, class: 'btn btn-success text-uppercase' %>
      <% end %>
    </div>

    <section class="pt-6 pt-lg-7">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Players registered in the last hour</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-layer-light-top-100-right-30">
      <div class="container">
        <div class="row" data-sticky-container>
          <div class="col-lg-3">
            <div class="font-size-6 py-3" data-sticky data-sticky-for="768">
              <p>Showing <strong><%= pluralize Player.in_queue.count, 'result' %></strong> from all professions</p>
              <div class="form-group mb-4">
                <label for="profession">Filter by profession:</label>
                <select class="custom-select" id="profession" disabled="disabled">
                  <option>All</option>
                  <option>Warrior</option>
                  <option>Ranger</option>
                  <option>Monk</option>
                  <option>Necromancer</option>
                  <option>Mesmer</option>
                  <option>Elementalist</option>
                  <option>Assassin</option>
                  <option>Ritualist</option>
                  <option>Paragon</option>
                  <option>Dervish</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-9 bg-light py-6 py-lg-7 px-lg-5 px-xl-6">
            <% Player.in_queue.order('registrations.registered_at ASC').each do |player| %>
              <div class="d-flex flex-column flex-md-row justify-content-between align-items-start position-relative mb-5" data-aos="fade-left">
                <div>
                  <h3 class="mb-0">
                    <%= player.name %>
                    <% if player.is_verified? %>
                      <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>verified</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"></path></svg>
                    <% end %>
                  </h3>
                  <% player.professions.each do |profession| %>
                    <span class="badge badge-pill bg-gray200"><%= profession.capitalize %></span>
                  <% end %>
                  <% if player.professions.empty? %>
                    <span class="badge badge-pill bg-gray200">No profession</span>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>

  <% else %>

    <div class="col-12 d-flex flex-column align-self-end text-center pt-4">
      <h2 class="h3">Next scrim registration in</h2>
      <div class="row justify-content-center" data-countdown data-end-date="<%= tomorrow_scrim_registration_time %>" data-end-message="<p>Let's Start! Refresh the page!"> <!--Other format for data-end-date="2020-12-31T23:59:59.000Z" -->
        <div class="col-auto">
          <div class="row justify-content-center display-4 mb-5 text-center">
            <div class="col-auto px-3"><span class="days">0</span><span class="font-size-5 font-weight-lighter d-block mt-n1">days</span></div>
            <div class="col-auto px-3"><span class="hours">0</span><span class="font-size-5 font-weight-lighter d-block mt-n1">hours</span></div>
            <div class="col-auto px-3"><span class="minutes">0</span><span class="font-size-5 font-weight-lighter d-block mt-n1">minutes</span></div>
            <div class="col-auto px-3"><span class="seconds">0</span><span class="font-size-5 font-weight-lighter d-block mt-n1">seconds</span></div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% end %>

<section class="bg-primary py-6 py-lg-7 text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <h2 class="h3">Our Discord</h2>
        <% if current_player %>
          <p>
            <%= link_to 'Join our Discord', 'https://discord.gg/jqShPZBkcj', target: '_blank', class: 'btn btn-secondary text-uppercase d-inline-flex align-items-center' %>
          </p>
        <% end %>
      </div>
      <div class="col-lg font-size-6">
        <iframe src="https://discord.com/widget?id=788820055029973045&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      </div>
    </div>
  </div>
</section>

<section class="pt-6 pb-4 pt-lg-7 pb-lg-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Players</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mx-n3">
      <% Player.order(created_at: :desc).each do |player| %>
        <div class="col-md-6 col-lg-4 px-3 mb-5" data-aos="fade-up">
          <div class="card shadow lift rounded">
            <div class="row no-gutters h-100">
              <div class="col-4 col-xl-3">
                <picture>
                  <% if player.image_url.present? && !player.image_url.ends_with?('/') %>
                    <%= image_tag player.image_url, alt: player.name, class: 'img-fluid w-100 card-img rounded-left' %>
                  <% else %>
                    <%= image_tag 'default-image.png', alt: 'default image', class: 'img-fluid w-100 card-img rounded-left' %>
                  <% end %>
                </picture>
              </div>
              <div class="col">
                <div class="card-body p-3">
                  <div class="float-right">
                    <% if player.is_verified? %>
                      <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>verified</title><path d="M23.146,5.4,20.354,2.6a.5.5,0,0,0-.708,0L7.854,14.4a.5.5,0,0,1-.708,0L4.354,11.6a.5.5,0,0,0-.708,0L.854,14.4a.5.5,0,0,0,0,.707L7.146,21.4a.5.5,0,0,0,.708,0L23.146,6.1A.5.5,0,0,0,23.146,5.4Z"></path></svg>
                    <% end %>
                  </div>
                  <h3 class="h5 card-title mb-0">
                    <%= player.name %>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
