<div class="content-wrap">
    <div class="mpl-navbar-mobile-overlay"></div>
    <div>
        <section class="mpl-banner mpl-banner-top mpl-banner-parallax">
            <div class="mpl-image" data-speed="0.8">
                <%= image_tag 'background.jpg', class: 'jarallax-img' %>
            </div>
            <div class="mpl-banner-content mpl-box-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10" data-sr="banner" data-sr-interval="200" data-sr-duration="1200" data-sr-distance="20">
                            <h1 class="display-1" data-sr-item="banner">GWRank</h1>
                            <% if current_player %>
                              <p class="lead" data-sr-item="banner">
                                Welcome <%= current_player.name %>
                              </p>
                              <%= link_to 'Show profile', player_path(current_player), class: 'btn btn-md btn-brand' %>
                              <%= link_to 'Edit profile', edit_profile_path, class: 'btn btn-md btn-brand' %>
                              <%= link_to 'Sign out', destroy_player_session_path, method: :delete, class: 'btn btn-md btn-brand"' %>
                            <% else %>
                              <%= link_to 'Log in with Discord', omniauth_authorize_path(:player, :discord), class: 'btn btn-md btn-brand' %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container mpl-box-md">
            <div class="row vgap">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="mpl-feature">
                        <div class="mpl-feature-title h4">What?</div>
                        <div class="mpl-feature-text">
                            <ul>
                                <li>Matchmaking system</li>
                                <li>MMR ranking</li>
                                <li>Keep track of your personal record</li>
                                <li>Browse the records of others</li>
                                <li>Nominate player of the game</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="mpl-feature">
                        <div class="mpl-feature-title h4">Why?</div>
                        <div class="mpl-feature-text">
                            <ul>
                                <li>Play better games</li>
                                <li>Less time spent assigning roles</li>
                                <li>Player development</li>
                                <li>Play in a like-minded community</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="mpl-feature">
                        <div class="mpl-feature-title h4">How?</div>
                        <div class="mpl-feature-text">
                            <ul>
                                <li>Register account</li>
                                <li>Get verified</li>
                                <li>Submit preferred roles/availability</li>
                                <li>Register for matches</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mpl-box-md">
            <div class="container">
                <div class="row hgap-lg vgap-lg">
                    <div class="col-lg mpl-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">Last players</li>
                            </ol>
                        </nav>
                        <div class="row vgap" data-sr="players" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="20">
                          <% Player.order(created_at: :desc).first(6).each do |player| %>
                            <div class="col-12 col-sm-6 col-xl-4" data-sr-item="players" style="visibility: visible;">
                                <div class="cyberpress-player">
                                    <h2 class="cyberpress-player-title h5">
                                        <%= link_to player.username, player_path(player) %>
                                    </h2>
                                    <ul class="cyberpress-player-info">
                                        <% if player.igname.present? %>
                                          <li>
                                              <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"></path>
                                              </svg>
                                              <%= player.igname %>
                                          </li>
                                        <% end %>
                                        <% if player.is_verified? %>
                                          <li>
                                              <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M16 21V19C16 17.9391 15.5786 16.9217 14.8284 16.1716C14.0783 15.4214 13.0609 15 12 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21M17 11L19 13L23 9M12.5 7C12.5 9.20914 10.7091 11 8.5 11C6.29086 11 4.5 9.20914 4.5 7C4.5 4.79086 6.29086 3 8.5 3C10.7091 3 12.5 4.79086 12.5 7Z"></path>
                                              </svg>
                                              Verified
                                          </li>
                                        <% end %>
                                        <% if player.guild_id.present? %>
                                            <li>
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21M23 21V19C22.9993 18.1137 22.7044 17.2528 22.1614 16.5523C21.6184 15.8519 20.8581 15.3516 20 15.13M16 3.13C16.8604 3.3503 17.623 3.8507 18.1676 4.55231C18.7122 5.25392 19.0078 6.11683 19.0078 7.005C19.0078 7.89317 18.7122 8.75608 18.1676 9.45769C17.623 10.1593 16.8604 10.6597 16 10.88M13 7C13 9.20914 11.2091 11 9 11C6.79086 11 5 9.20914 5 7C5 4.79086 6.79086 3 9 3C11.2091 3 13 4.79086 13 7Z" />
                                                </svg>
                                              <%= link_to player.guild.name_with_tag, guild_path(player.guild) %>
                                            </li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                          <% end %>
                          <%= link_to 'See all players', players_path, class: 'btn btn-md' %>
                        </div>
                    </div>
                    <div class="col-auto-lg mpl-sidebar" data-sr="widget" data-sr-duration="1200" data-sr-distance="20">
                      <iframe src="https://discord.com/widget?id=788820055029973045&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                      <a href="https://discord.gg/jqShPZBkcj" target="_blank" class="btn btn-md">
                        Join us on Discord
                      </a>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'footer' %>
    </div>
</div>
