<div class="content-wrap">
    <div class="mpl-navbar-mobile-overlay"></div>
    <div>
        <section class="mpl-banner mpl-banner-top mpl-banner-parallax mpl-banner-small">
            <div class="mpl-image" data-speed="0.8">
                <%= image_tag 'background.jpg', class: 'jarallax-img' %>
            </div>
            <div class="mpl-banner-content mpl-box-lg">
                <div class="container">
                    <h1 class="display-1 mb-0">Tournaments</h1>
                </div>
            </div>
        </section>
        <div class="mpl-box-md">
            <div class="container">
                <div class="row hgap-lg vgap-lg">
                    <div class="col-lg single-match">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><%= link_to 'Tournaments', tournaments_path %></li>
                                <li class="breadcrumb-item"><%= link_to @match.tournament.title, tournament_path(@match.tournament) %></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= @match.title %></li>
                            </ol>
                        </nav>
                        <h2><%= @match.title %></h2>
                        <div class="cyberpress-match">
                            <div class="cyberpress-match-participants">
                                <div class="cyberpress-match-participant">
                                    <table class="table table-striped table-responsive mb-60">
                                        <tbody>
                                            <% @match.teams.first.team_players.order(position: :asc).each do |team_player| %>
                                                <tr>
                                                    <td>
                                                        <%= team_player.character.player.present? ? link_to(team_player.igname, player_path(team_player.character.player)) : team_player.igname %>
                                                        <%= team_player.profession.name %>
                                                        <br>
                                                        <%= team_player.html_skills.html_safe %>
                                                        <% unless team_player.team_player_skills.count > 8 %>
                                                            <input type="text" class="form-control" value="<%= team_player.template_code %>" disabled>
                                                        <% end %>
                                                    </td>
                                                </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cyberpress-match-participant-vs">
                                    <div class="cyberpress-match-participant-time-start"><%= @match.tournament.date %></div>
                                    <div class="cyberpress-match-points h3">VS</div>
                                </div>
                                <div class="cyberpress-match-participant">
                                    <table class="table table-striped table-responsive mb-60">
                                        <tbody>
                                            <% @match.teams.second.team_players.order(position: :asc).each do |team_player| %>
                                                <tr>
                                                    <td>
                                                        <%= team_player.character.player.present? ? link_to(team_player.igname, player_path(team_player.character.player)) : team_player.igname %>
                                                        <%= team_player.profession.name %>
                                                        <br>
                                                        <%= team_player.html_skills.html_safe %>
                                                        <% unless team_player.team_player_skills.count > 8 %>
                                                            <input type="text" class="form-control" value="<%= team_player.template_code %>" disabled>
                                                        <% end %>
                                                    </td>
                                                </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <h2>Stats</h2>
                        <div class="row vgap">
                            <div class="col-12 col-md-6">
                                <span class="badge badge-brand">Soon</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'footer' %>
    </div>
</div>
