<div class="content-wrap">
    <div class="mpl-navbar-mobile-overlay"></div>
    <div>
        <section class="mpl-banner mpl-banner-top mpl-banner-parallax mpl-banner-small">
            <div class="mpl-image" data-speed="0.8">
                <%= image_tag 'background.jpg', class: 'jarallax-img' %>
            </div>
            <div class="mpl-banner-content mpl-box-lg">
                <div class="container">
                    <h1 class="display-1 mb-0">Tournaments</h1>
                </div>
            </div>
        </section>
        <div class="mpl-box-md">
            <div class="container">
                <div class="row hgap-lg vgap-lg">
                    <div class="col-lg mpl-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><%= link_to 'Tournaments', tournaments_path %></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= @match.tournament.year %>-<%= @match.tournament.month %> Tournament Series Championship GvG Results</li>
                            </ol>
                        </nav>
                        <div class="row vgap" data-sr="tournaments" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="20">
                            <h2><%= @match.tournament.year %>-<%= @match.tournament.month %> Tournament Series Championship GvG Results</h2>

                            <% @match.teams.each do |team| %>
                              <h3><%= team.guild.name_with_tag %> players</h3>
                              <table class="table table-striped table-responsive mb-60">
                                  <thead>
                                      <tr>
                                          <th scope="col">In-game name</th>
                                          <th scope="col">Profession</th>
                                          <th scope="col">Skills</th>
                                          <th scope="col">Stats</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <% team.team_players.order(position: :asc).each do |team_player| %>
                                        <tr>
                                          <td><%= team_player.player.igname.eql?('Gwrank Com') ? team_player.igname : link_to(team_player.igname, player_path(team_player.player)) %></td>
                                          <td><%= team_player.profession.name %></td>
                                          <td><%= sanitize team_player.skills_text %></td>
                                          <td><span class="badge badge-brand">Soon</span></td>
                                        </tr>
                                      <% end %>
                                  </tbody>
                              </table>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-auto-lg mpl-sidebar" data-sr=widget data-sr-duration=1200 data-sr-distance=20>
                        <%= link_to 'Search matches on Guild Wars Memorial', "https://memorial.redeemer.biz/memorial/#{@match.tournament.year}/#{@match.tournament.month}", target: '_blank', class: 'btn btn-md' %>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'footer' %>
    </div>
</div>
