<nav class="mpl-navbar mpl-navbar-mobile">
    <div class="mpl-navbar-container">
        <div class="mpl-navbar-head">
            <a href="#" class="mpl-navbar-toggle">
                <span></span><span></span><span></span><span></span>
            </a>
        </div>
        <div class="mpl-navbar-body">
            <ul class="mpl-navbar-nav">
                <li class="<%= 'active' if current_page?(root_path) %>">
                    <%= link_to root_path, class: 'mpl-nav-link' do %>
                        <span class="mpl-nav-link-name"> Home </span>
                    <% end %>
                </li>
                <li class="<%= 'active' if controller_name.eql?('streamers') %>">
                    <%= link_to streamers_path, class: 'mpl-nav-link' do %>
                        <span class="mpl-nav-link-name"> Streamers </span>
                    <% end %>
                </li>
                <li class="<%= 'active' if controller_name.eql?('players') %>">
                    <%= link_to players_path, class: 'mpl-nav-link' do %>
                        <span class="mpl-nav-link-name"> Players </span>
                    <% end %>
                </li>
                <li class="<%= 'active' if controller_name.eql?('guilds') %>">
                    <%= link_to guilds_path, class: 'mpl-nav-link' do %>
                        <span class="mpl-nav-link-name"> Guilds </span>
                    <% end %>
                </li>
                <li class="<%= 'active' if controller_name.eql?('scrims') %>">
                    <%= link_to scrims_path, class: 'mpl-nav-link' do %>
                        <span class="mpl-nav-link-name"> Scrims </span>
                    <% end %>
                </li>
                <li class="<%= 'active' if controller_name.eql?('tournaments') %>">
                    <%= link_to tournaments_path, class: 'mpl-nav-link' do %>
                        <span class="mpl-nav-link-name"> Tournaments </span>
                    <% end %>
                </li>
                <li class="<%= 'active' if controller_name.eql?('statistics') %>">
                    <%= link_to statistics_path, class: 'mpl-nav-link' do %>
                        <span class="mpl-nav-link-name"> Statistics </span>
                    <% end %>
                </li>
            </ul>
        </div>
        <div class="mpl-navbar-footer">
            <ul class="mpl-navbar-nav">
            </ul>
        </div>
    </div>
</nav>
