<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GWRank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
    <script src="/assets/js/theme.core.min.js"></script>
    <script src="/assets/js/theme.min.js"></script>
  </body>
</html>
